<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <h1>Rental Bicyclye System</h1>
  <p>Rental Bicyclye System you can choose your bike.</p>
</body>
</html>